{% extends "registration/base_password_reset.html" %}
{% block content %}
   <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
              <h4>
				Enviámos-lhe instruções para redefinir a sua senha, se existir uma conta com o email que introduziu. Você deve recebê-los em breve
			  </h4>
			  <h4>
				Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou e verifique sua pasta de spam.
			  </h4>
            </div>
        </div>
    </div>
{% endblock %}