{% load static %}
{% block datepicker %}
<!--datatables-->
  <script src ="{% static "tables/jquery.min.js" %}"></script>
{% endblock datepicker %}
{% block menu_li %}
  <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
  <li class="nav-item active  ">
    <a class="nav-link" href="{% url 'profissionais' %}">
      <i class="material-icons">lock</i>
      <p>Troca de Senha</p>
    </a>
  </li>
{% endblock menu_li %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                 <div class="card-header card-header-primary"data-background-color="red">
                   <h4 class="card-title ">Troca de Senha</h4>
              </div>
                <div class="card-content">
               
						<form method="post" novalidate>
						  {% csrf_token %}

						  {% for hidden_field in form.hidden_fields %}
						    {{ hidden_field }}
						  {% endfor %}

						  {% for field in form.visible_fields %}
							    <div class="form-group">
							      {{ field.label_tag }}
							      {{ field }}
							      {% if field.help_text %}
							        <small class="form-text text-muted">{{ field.help_text }}</small>
							      {% endif %}
							    </div>
						  {% endfor %}
						  <button type="submit" class="btn btn-primary pull-right">Alterar Senha</button>
						</form>
                 </div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
<script>
	$( "input" ).addClass( "form-control" );
</script>
{% endblock container %}
